/* Estilos para la página de promociones */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5e6ca; /* Color de fondo de la página */
}

header {
    background-color: #4a3d35; /* Color del encabezado */
    color: #e2b585; /* Color crema suave */
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
    font-family: 'Georgia', sans-serif;
    color: #d8a76c; /* Color dorado suave */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Sombra para resaltar el título */
}

.registration-title {
    text-align: center;
    font-size: 36px;
    color: #8d7b6d; /* Marrón claro */
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra para resaltar el título */
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #d8a76c; /* Color dorado suave */
    font-weight: bold;
    font-size: 16px; /* Tamaño de fuente de los enlaces del menú */
}

main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px;
}

.contact-info,
.social-links {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.social-links a {
    text-decoration: none;
    color: #e2b585; /* Color crema suave */
    padding: 8px;
    margin: 0 5px;
    font-size: 18px; /* Tamaño de fuente de los enlaces sociales */
}

.social-links a:hover {
    text-decoration: underline; /* Subrayado al pasar el cursor sobre enlaces sociales */
}

.mission,
.vision,
.infra-description {
    box-sizing: border-box; /* Ajuste del box-sizing */
    width: auto; /* Ancho automático */
    padding: 20px;
    margin-bottom: 20px; /* Espacio entre los divs */
    border: 5px solid #f5e6ca; /* Color del borde */
    background-color: #f0e3db; /* Color de fondo de las secciones */
    border-radius: 8px; /* Esquinas redondeadas */
}

.mission-image,
.infra-image,
.vision-image {
    width: 300px; /* Ancho de las imágenes */
    max-width: 100%; /* Asegura que las imágenes no excedan el ancho del contenedor */
    height: auto; /* Altura automática */
    border-radius: 10px; /* Esquinas redondeadas para imágenes */
}

/* Estilos para el pie de página */
.footer-custom {
    background-color: #4a3d35; /* Color del pie de página */
    color: #e2b585; /* Color del texto en el pie de página */
    text-align: center;
    padding: 20px 0;
    margin-top: 20px; /* Espacio superior del pie de página */
}
